.aboutme {
  display: flex;
  min-height: 630px;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: 5rem 5rem;
  background-color: $color-grey-light-1;
  flex-wrap: nowrap;
  background-image: url('./img/WhatsApp Image 2019-07-20 at 19.13.58.jpeg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;

  @include respondMin(tab-port) {
    height: 100vh !important;
  }
}

.tech-list {
  display: flex;
  backface-visibility: visible;
  justify-content: space-around;
  width: 70%;

  @include respond(tab-port) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3%;
    width: 100%;
  }
  @include respondMin(phone) {
    margin-left: 7%;
    width: 110%;
  }
  @include respondMin(tab-port) {
    margin-left: -3%;
    margin-top: 3%;
  }
  @include respond(phone) {
    margin-top: 3%;
  }
}

.tech-frame {
  @include respondMin(tab-land) {
    animation-name: moveLeftRight;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
}

.content-frame-aboutme {
  width: 80%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: relative;
  @include respond(tab-port) {
    margin-left: 11%;
    flex-wrap: wrap;
  }
  @include respond(phone) {
    width: 100%;
    margin-top: 27%;
    min-height: 400px;
    margin-left: 0;
  }
}

.frame-text {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 70%;
  width: 82%;
  @include respond(tab-port) {
    margin-top: 5%;
  }
  @include respond(phone) {
    margin-top: 3%;
    width: 100%;
  }
}
.powergraph-aboutme {
  position: relative;
  width: 100%;
  justify-self: center;
  margin-left: 2%;
}
.composition {
  position: relative;
}

.title-effect-aboutme {
  -webkit-animation: text-focus-in 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
