.contactme {
  min-width: 320px;
  min-height: 700px;
  display: flex;
  width: 100vw;
  height: 100vh;
  // padding: 1rem 1rem;
  background-color: $color-grey-light-1;
  // border: 3px solid purple;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  //background-image: url('./img/aleksandra-wantuch-1138330-unsplash.jpg');
  background-image: url('./img/WhatsApp Image 2019-07-20 at 19.13.58 (1).jpeg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;

  &__container {
    margin-top: 3%;
    margin-left: 1.5%;
    display: flex;
    flex-direction: column;
    //  border: 1px solid red;
    justify-content: space-between;
    align-content: space-between;
    //height: 350px;
    //width: 550px;
    -webkit-animation: text-focus-in 3s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
    animation: text-focus-in 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
}

.btn-container {
  padding-top: 5%;
  display: flex;
  margin: auto;
  // border: 1px solid green;
  //height: 50px;
  //padding: 2rem;
  // align-self: flex-end;
  width: 50%;
}

.margin-top-contact {
  margin-top: -1%;
}
.contactme-effect {
  -webkit-animation: text-focus-in 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
