.navbar {
  background-color: rgba(0, 0, 0, 0.39);
  padding: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  @include respond(phone) {
    padding: 0;
  }
} //#1b242f

.container-navbar {
  margin: auto;
  display: flex;
  width: 50%;
  max-width: 764px;
  min-width: 265px;
  height: 100%;
  justify-content: space-between;
  align-self: center;

  @include respond(phone) {
    width: 60%;
  }
}
.logo-navbar {
  display: flex;
  width: 116px;

  //height:100%;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}
