.container-detail {
  position: absolute;
  top: 3px;
  opacity: 0.1;
  right: -53px;
  width: 33rem;
  height: 35rem;
  padding: 10px 30px;
  padding-bottom: 35px !important;
  // background-color: #c5c7c6;
  background-color: rgba(0, 0, 0, 0.56);
  //border: 15px solid #c5c7c6;
  //border: 15px solid rgba(0, 0, 0, 0.56);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  //z-index: 1;
  //justify-content: center;
  // margin-left: -5%;
  @include respond(phone) {
    margin-left: 33%;
    right: -93px;
  }
  @include respond(tab-land) {
    //margin-left: -110%;
    // background-color: blue;
    //top: -422;
    width: 31rem;
    height: 35rem;
    right: -38px;
    margin-top: 3%;
  }
}
.buttons-container {
  display: flex;
  margin-top: auto;
  justify-content: space-evenly;
  // border: 1px solid white;
}
