.container-detail {
  position: absolute;
  top: -28px;

  right: -53px;
  width: 33rem;
  height: 35rem;
  background-color: rgba(0, 0, 0, 0.96);
  border: 15px solid rgba(0, 0, 0, 0.29);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  //z-index: 1;
  //justify-content: center;
  // margin-left: -5%;
  @include respond(phone) {
    margin-left: 33%;
    right: -93px;
  }
  @include respond(tab-land) {
    //margin-left: -110%;
    // background-color: blue;
    //top: -422;
    width: 31rem;
    height: 35rem;
    right: -38px;
    margin-top: 3%;
  }
}
.buttons-container {
  display: flex;
  margin-top: auto;
  justify-content: space-evenly;
  // border: 1px solid white;
}
