// COLORS

$color-primary-white: #fffff0;
$color-primary-pink: #e31b6d;
$color-primary-grey: #45474a;
$color-primary-yellow: #ffff00;
$color-primary-black: #000000;
$color-grey-light-1: #f7f7f7;
$color-primary-blue: #0000cd;
