// COLORS

$color-primary-white: #fffff0;
$color-primary-pink: #e31b6d;
$color-primary-grey: #45474a;
$color-grey-dark: #777;
$color-primary-yellow: #ffff00;
$color-primary-black: #000000;
$color-grey-light-1: #f7f7f7;
$color-primary-blue: #0000cd;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-primary-green: #0a5521;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-2: #eee;
$color-primary-bordo: #550a21;

// FONT
$default-font-size: 1.6rem;
