.position-protfolio-btn {
  position: fixed;
  // bottom: 2%;
  top: 92%;
  left: 46.3%;
  @include respond(phone) {
    position: fixed;
    top: 1%;
    left: 38.5% !important;
  }
  @include respond(tab-land) {
    left: 44%;
  }
}
.position-contact-btn {
  position: absolute;
  top: 49%;
  left: 2%;
  @include respond(phone) {
    position: fixed;
    top: 1%;
  }
}
.position-about-btn {
  position: absolute;
  top: 49%;
  right: 2%;
  @include respond(phone) {
    position: fixed;
    top: 1%;
  }
}

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    // position: relative;
    font-size: $default-font-size;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-primary-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-primary-black, 0.2);
  }

  &--white {
    background-color: $color-primary-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-primary-white;
    }
  }
  &--black {
    background-color: $color-primary-black;
    color: $color-primary-white;

    &::after {
      background-color: $color-primary-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-primary-white;

    &::after {
      background-color: $color-primary;
    }
  }
  &--red-green {
    background-color: $color-primary;
    color: $color-primary-bordo;
    font-family: 'Black Ops One', cursive;
    margin-bottom: 3.5%;

    &::after {
      background-color: $color-primary-green;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-primary-white;
    box-shadow: 0 1rem 2rem rgba($color-primary-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-primary-black, 0.15);
    transform: translateY(0);
  }
}

.button {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 2rem;
    display: inline-block;
    //border-radius: 10rem;
    transition: all 0.2s;
    // position: relative;
    font-size: $default-font-size;
    color: #ffa400;
    text-shadow: -0.5px -0.5px 0 white, 0.5px -0.5px 0 white,
      -0.5px 0.5px 0 white, 1px 1px 0 white;
    //Change for the <button> element
    border: 1px solid $color-primary-text;
    cursor: pointer;
    font-weight: 900;
    border-radius: 11px;
    @include respond(phone) {
      //padding: 1.2rem 1.2rem;
      padding: 0.7rem 0.7rem;
    }
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-primary-black, 0.2);
    //background-color: mediumaquamarine;
    background: linear-gradient(white, transparent);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
}
