.giladimg {
  width: 15rem;
  height: 15rem;
  box-shadow: 0 1.5rem 4rem rgba($color-primary-black, 0.4);
  border-radius: 6px;
  transition: all 0.2s;
  outline-offset: 2rem;
  //position: relative;

  &:hover {
    //outline: 0.5rem solid black;
    transform: scale(1.07) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba($color-primary-black, 0.5);
    z-index: 20;
  }
  @include respond(phone) {
    display: none;
  }
}

.logo-pic {
  fill: $color-primary-yellow;

  width: 40px;
  height: 40px;
  @include respond(phone) {
    width: 30px;
    height: 30px;
  }
}

.icon-nav-bar {
  filter: invert(22%) sepia(54%) saturate(6753%) hue-rotate(324deg)
    brightness(92%) contrast(93%);
  margin-right: 5%;
  margin-bottom: 3px;

  width: 23px;
  @include respond(phone) {
    width: 13px;
  }
}

.protfolio-img {
  position: relative;
  left: 0;
  width: 22rem;
  height: 28rem;
  border-radius: 13px;
  opacity: 0.8;
  transition: 0.25s ease-in-out;
  z-index: -1000;
  cursor: pointer;
  &:hover {
    opacity: 9;
    transform: scale(1.07) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba($color-primary-black, 0.5);
  }
}
