.giladimg {
  width: 17rem;
  height: 17rem;
  box-shadow: 0 1.5rem 4rem rgba($color-primary-black, 0.4);
  border-radius: 6px;
  transition: all 0.2s;
  outline-offset: 2rem;
  //position: relative;

  &:hover {
    //outline: 0.5rem solid black;
    transform: scale(1.07) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba($color-primary-black, 0.5);
    z-index: 20;
  }
}

.logo-pic {
  fill: $color-primary-yellow;

  width: 40px;
  height: 40px;
  @include respond(phone) {
    width: 30px;
    height: 30px;
  }
}

.icon-nav-bar {
  filter: invert(22%) sepia(54%) saturate(6753%) hue-rotate(324deg)
    brightness(92%) contrast(93%);
  margin-right: 5%;
  margin-bottom: 3px;

  width: 23px;
  @include respond(phone) {
    width: 13px;
  }
}
